/.smex-items
/backups/
/elpa/
/eshell/
/places
*~
.#*
/url/
/ac-comphist.dat
/eshell/history
/history
/semanticdb/
/session.*
/srecode-map.el
/tramp
/tumblr-oauth-token
/custom.el
/ido.last
/local.el
/recentf
/server/
*.elc
