[submodule "packages/color-theme-tangotango"]
	path = packages/color-theme-tangotango
	url = git@github.com:juba/color-theme-tangotango.git
[submodule "packages/naquadah-theme"]
	path = packages/naquadah-theme
	url = git://git.naquadah.org/naquadah-theme.git
[submodule "packages/nrepl-eval-sexp-fu"]
	path = packages/nrepl-eval-sexp-fu
	url = git://github.com/samaaron/nrepl-eval-sexp-fu.git
[submodule "packages/golden-ratio"]
	path = packages/golden-ratio
	url = git://github.com/roman/golden-ratio.el.git
[submodule "packages/emacs-powerline"]
	path = packages/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "packages/hy-mode"]
	path = packages/hy-mode
	url = git@github.com:hylang/hy-mode.git
